<p>Applicant: <%= @application.name %><br>
Address: <%= @application.street %>, <%= @application.city %>, <%= @application.state %> <%= @application.zipcode %><br>

Status: <%= @application.status %><br>
Description: <%= @application.description %></p>

Pets:<br>
<% @pet_applications.each do |pet_app| %>
  <% if pet_app.approved == "false" %>
    <p><%= link_to "#{pet_app.pet.name}", "/pets/#{pet_app.pet_id}" %> has been rejected!</p><br>
  <% elsif pet_app.approved == "true" %>
    <p><%= link_to "#{pet_app.pet.name}", "/pets/#{pet_app.pet_id}" %> has been approved!</p><br>
  <% elsif pet_app.pet.adoptable == false %>
    <p><%= link_to "#{pet_app.pet.name}", "/pets/#{pet_app.pet_id}" %> has already been approved for adoption!</p>
  <% else %>
    <%= link_to "#{pet_app.pet.name}", "/pets/#{pet_app.pet_id}" %>
    <%= button_to  "Approve This Pet", "/admin/applications/#{@application.id}", method: :patch, params: {approved: pet_app.pet_id}, local: true %>
    <%= button_to  "Reject This Pet", "/admin/applications/#{@application.id}", method: :patch, params: {rejected: pet_app.pet_id}, local: true %>
  <% end %>
<% end %>
